.tracker-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 2px solid black;
  background-image: linear-gradient(75deg, white 5%, #d4f4d2 30%, #005757 100%);
}

.tracker-container h1 {
  text-align: center;
  padding: 5px 0;
  /* background-color: navy; */
}

.today-date {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: navy;
  padding: 8px 0;
}

.save-button, .reset-button, .logout-button {
  padding: 10px 20px;
  margin: auto;
  font-size: 16px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-button:hover {
  background-color: #005999;
}

.reset-button:hover {
  background-color: #7fadce;
  color: #00008b;
}

.logout-button:hover {
  background-color: #87cefa;
  color: #005999;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}